.row
  .col-md-6.col-md-offset-3
    .panel.login-form-area
      .panel-body
        = simple_form_for :session, url: login_create_path do |f|
          =f.input :email, label: false, placeholder: "Email", class: "input-lg"
          =f.input :password, label: false, placeholder: "Password", class: "input-lg"
          =f.label :remember_me, class: "checkbox inline" do
            =f.check_box :remember_me
            %span Remember me on this computer
          =f.button :submit, "Submit", class: "btn-success form-control"
    %p.text-center
      New User?
      =link_to "Sign up now!", signup_path