.panel.login-form-area
  .panel-body
    = simple_form_for @user do |f|
      = render 'shared/error_messages', object: @user
      =f.input :name, label: false, placeholder: "Name", class: "form-control"
      =f.input :email, label: false, placeholder: "Email", class: "form-control"
      =f.input :password, label: false, placeholder: "Password", class: "form-control"
      =f.input :password_confirmation, label: false, placeholder: "Password Confirmation", class: "form-control"
      =f.button :submit, yield(:button_text), class: "btn-success form-control"

